.Button {
    width: 100%;
	box-sizing: border-box;
	border: 0;
	background-color: rgba(0, 0, 0, 0);
	color: #fff;
	font-size: 1rem;
	cursor: pointer;
	outline: none;
	border-top: solid 1px #38b200;
	border-bottom: solid 1px #38b200;
	display: inline-block;
	padding: 18px 36px;
	font-size: 14px;
  	letter-spacing: 1px;
	box-shadow: inset 0 0 0 0.01px #38b200;
	-webkit-transition: box-shadow linear 0.3s, color 0.3s linear;
	-moz-transition: box-shadow linear 0.3s, color 0.3s linear;
	transition: box-shadow linear 0.3s, color 0.3s linear;
	font-weight: bold;
}

.Button:hover {
	color: #175151;
	box-shadow: inset 0 0 200px 0 #38b200;
}

.Button:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.Button:disabled:hover {
	color: #36312e;
	box-shadow: inset 0 0 0 0.01px #38b200;
}

